* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(151, 133, 102);
    color: antiquewhite;
    font-family: "EB Garamond", serif;
}

header {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

#gif {
    width: 10%
}

h1 {
    font-size: 40px;
    color: rgb(72, 48, 0);
    text-align: center;
    align-self: center;
}

nav {
    color: antiquewhite;
    align-self: center;
    width: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;
}

h2 {
    color: wheat;
    font-size: xx-large;
    text-align: justify;
    text-decoration: none;
    margin-bottom: 2%;
    margin-top: 4%;
}

ol {
    color: antiquewhite;
    text-align: left;
}

li {
    color: antiquewhite;
    text-align: left;
    margin-left: 1%;
}

img {
    margin: 5px;
    padding: 5px;
    width: 10%;
    align-self: left;
}

h3 {
    color: antiquewhite;
    text-align: left;
}